{
  "openapi": "3.0.0",
  "info": {
    "version": "v3",
    "title": "LendingWise System API",
    "description": "Interfaces with LendingWise System - Search and Export Loan Applications",
    "contact": {
      "email": "support@lendingwise.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.lendingwise.com/api/v3",
      "description": "Production Server"
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://dash.readme.com/project/lendingwise/v1.0/refs/getting-started-1"
  },
  "tags": [
    {
      "name": "file",
      "description": "Information about a specific loan file"
    },
    {
      "name": "files",
      "description": "List of files returned by search/filter operation"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "Authenticate"
        ],
        "description": "Bearer Token Generation",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Authenticate"
              },
              "example": {
                "client_id": "test",
                "client_secret": "test"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bearer Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BearerToken"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Auth"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/validate": {
      "post": {
        "tags": [
          "Validate"
        ],
        "description": "Bearer Token Validation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Auth"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/refresh": {
      "post": {
        "tags": [
          "Refresh"
        ],
        "description": "Refresh Bearer Token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BearerToken"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Auth"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/back_office_employees": {
      "get": {
        "tags": [
          "Back Office Employees"
        ],
        "description": "Returns all back office users for your PCID",
        "operationId": "back_office_employees",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "earliest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "latest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return backoffice user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackOfficeUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/back_office_employees/assign_to_file_by_role": {
      "get": {
        "tags": [
          "Back Office Employees"
        ],
        "description": "List of Back Office Employees with Specified Role that would be Assigned to Specified File",
        "operationId": "back_office_employees_assign_to_file_by_role_get",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "FileID to assigned employees to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Role",
            "in": "query",
            "description": "Role of Employees",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return backoffice user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackOfficeUser"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Back Office Employees"
        ],
        "description": "Assign Back Office Employees with Specified Role to Specified File",
        "operationId": "back_office_employees_assign_to_file_by_role_post",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "FileID to assigned employees to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Role",
            "in": "query",
            "description": "Role of Employees",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return backoffice user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackOfficeFileUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/back_office_employees/assign_to_file": {
      "get": {
        "tags": [
          "Back Office Employees"
        ],
        "description": "Specified Back Office Employee that would be Assigned to Specified File",
        "operationId": "back_office_employee_assign_to_file_get",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "FileID to assigned employees to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID of Employee",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return backoffice user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackOfficeUser"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Back Office Employees"
        ],
        "description": "Assign Back Office Employee with Specified PrimaryID to Specified File",
        "operationId": "back_office_employee_assign_to_file_post",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "FileID to assigned employees to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID of Employee",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return backoffice user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackOfficeFileUser"
                }
              }
            }
          }
        }
      }
    },
    "/branches": {
      "get": {
        "tags": [
          "Branches"
        ],
        "description": "Returns all branches for your PCID",
        "operationId": "branches",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "earliest created date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "latest created date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns branch info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/borrowers": {
      "get": {
        "tags": [
          "Borrowers"
        ],
        "description": "Returns all borrowers for your PCID",
        "operationId": "borrowers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "earliest created date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "latest created date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns borrower info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BorrowerUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brokers": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "description": "Returns all brokers for your PCID",
        "operationId": "brokers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "earliest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "latest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return broker info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrokerUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/attachments": {
      "get": {
        "tags": [
          "Document"
        ],
        "description": "Returns all attachments for given document",
        "operationId": "document_attachments",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLType",
            "in": "query",
            "description": "CLType given by file documents endpoint: PCL or FCL",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DocumentPrimaryID",
            "in": "query",
            "description": "Primary Document ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DocumentType",
            "in": "query",
            "description": "Specific Document Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns list of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/notes": {
      "get": {
        "tags": [
          "Document"
        ],
        "description": "Returns all notes for given document",
        "operationId": "document_notes",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "Document Primary ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "NoteType",
            "in": "query",
            "description": "Note Type: GE, INT, or UW ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns list of notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentNote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/attachments/download": {
      "get": {
        "tags": [
          "Document"
        ],
        "description": "Returns File Data for Given Attachment",
        "operationId": "document_attachments_download",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns attachment file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Download"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns a single loan file by ID",
        "operationId": "getFileById",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan file info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/borrower": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Borrower Record for File ID",
        "operationId": "file_borrower",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned borrower info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileBorrower"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/coborrower": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns CoBorrower Record for File ID",
        "operationId": "file_coborrower",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned coborrower info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileCoBorrower"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/credit_decision": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Credit Decision for File ID",
        "operationId": "file_credit_decision",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned credit decision info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileCreditDecision"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/hmda": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns HMDA for File ID",
        "operationId": "file_hmda",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned HMDA info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileHMDA"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/hud": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns HUD for File ID",
        "operationId": "file_hud",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned HUD info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HUD"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/vesting": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Vesting Information for File ID",
        "operationId": "file_vesting",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned vesting info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVesting"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/adverse_action": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Adverse Action for File ID",
        "operationId": "file_adverse_action",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned adverse action info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileAdverseAction"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/properties": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Property Records for File ID",
        "operationId": "file_properties",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned property info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileProperties"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/documents": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Document Records for File ID",
        "operationId": "file_documents",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned required documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileDocuments"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/branch": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns a single Branch Record for File ID",
        "operationId": "file_branch",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned branch info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileBranch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "File"
        ],
        "description": "Update Branch Linked to File ID",
        "operationId": "file_branch_post",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID of Branch",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully linked branch to file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/broker": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns a Single Broker Record for File ID",
        "operationId": "file_broker",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned Broker Record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileBroker"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "File"
        ],
        "description": "Update Broker Linked to File ID",
        "operationId": "file_broker_post",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID of Broker",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully linked broker to file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/change_log": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Change Log for File ID",
        "operationId": "file_change_log",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileChangeLog"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/employees": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Employees for File ID",
        "operationId": "file_employee",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileEmployees"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/insurance": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Insurance Details for File ID",
        "operationId": "file_insurance",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Insurance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInsurance"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/loan_officer": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns a Single Loan Officer Record for File ID",
        "operationId": "file_loan_officer",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan file info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileLoanOfficer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "File"
        ],
        "description": "Update Loan Officer Linked to File ID",
        "operationId": "file_loan_officer_post",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "PrimaryID of Loan Officer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully linked loan officer to file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/member_officers": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns a Member Officers Record for File ID",
        "operationId": "file_member_officers",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan file info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileMemberOfficers"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/notes": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns All Notes for File ID",
        "operationId": "file_notes",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileNote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/rent_roll": {
      "get": {
        "tags": [
          "File"
        ],
        "description": "Returns Rent Roll Records for File ID",
        "operationId": "file_rent_roll",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned Rent Roll Records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RentRoll"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/assigning": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Assigning History for File ID",
        "operationId": "/file/activity_log/assigning",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan assigning history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogAssigning"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/days_in_file_status": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns File Status History for File ID",
        "operationId": "/file/activity_log/days_in_file_status",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan status history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogDaysInFileStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/email_history": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Email History for File ID",
        "operationId": "/file/activity_log/email_history",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan email history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogEmailHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/emailed_docs": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Emailed Docs History for File ID",
        "operationId": "/file/activity_log/emailed_docs",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan email docs history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogEmailedDocs"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/faxed_docs": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Faxed Docs History for File ID",
        "operationId": "/file/activity_log/faxed_docs",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan faxed docs info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogFaxedDocs"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/primary_status": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Primary Status History for File ID",
        "operationId": "/file/activity_log/primary_status",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan primary status history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogPrimaryStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/sub_status": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Sub Status History for File ID",
        "operationId": "/file/activity_log/sub_status",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan sub status history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogSubStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/file/activity_log/workflow": {
      "get": {
        "tags": [
          "File Activity Log"
        ],
        "description": "Returns Workflow History for File ID",
        "operationId": "/file/activity_log/workflow",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "description": "ID of loan file to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returned loan workflow history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileActivityLogWorkFlow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid File ID"
          },
          "404": {
            "description": "File not found"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "description": "Returns list of Loan files within search parameters",
        "operationId": "files",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "closingStartDate",
            "in": "query",
            "description": "closing start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "closingEndDate",
            "in": "query",
            "description": "closing end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "client type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchName",
            "in": "query",
            "description": "branch name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleCode",
            "in": "query",
            "description": "module code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activeFile",
            "in": "query",
            "description": "ID of active File",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "primaryStatus",
            "in": "query",
            "description": "primary status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subStatus",
            "in": "query",
            "description": "substatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loanOfficer",
            "in": "query",
            "description": "ID of active File",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brokerName",
            "in": "query",
            "description": "broker name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "results offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max records per request",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Files"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid querystring input"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/files_v2": {
      "get": {
        "tags": [
          "Files"
        ],
        "description": "Returns list of Loan files within search parameters",
        "operationId": "files_v2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "closingStartDate",
            "in": "query",
            "description": "closing start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "closingEndDate",
            "in": "query",
            "description": "closing end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "client type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchName",
            "in": "query",
            "description": "branch name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleCode",
            "in": "query",
            "description": "module code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activeFile",
            "in": "query",
            "description": "ID of active File",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "primaryStatus",
            "in": "query",
            "description": "primary status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subStatus",
            "in": "query",
            "description": "substatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loanOfficer",
            "in": "query",
            "description": "ID of active File",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brokerName",
            "in": "query",
            "description": "broker name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "results offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max records per request",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilesV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid querystring input"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    },
    "/files/recent": {
      "get": {
        "tags": [
          "Files"
        ],
        "description": "Returns list of FileIDs with the timestamp they were last updated.",
        "operationId": "files_recent",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Earliest updated datetime.  Leave blank to return all records older than end datetime.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Latest updated datetime.  Leave blank to return all records newer than start datetime.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully returns list of updated FileIDs info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilesRecent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/loan_officers": {
      "get": {
        "tags": [
          "Loan Officers"
        ],
        "description": "Returns all Loan Officers for your PCID",
        "operationId": "loan_officers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "earliest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "latest login timestamp",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully return loan officers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoanOfficerUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notes": {
      "get": {
        "tags": [
          "Files"
        ],
        "description": "Notes within search parameters",
        "operationId": "notes",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "oAuth Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "start date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "end date of returned data range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "FileID",
            "in": "query",
            "description": "FileID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "NoteType",
            "in": "query",
            "description": "Note Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientType",
            "in": "query",
            "description": "client type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PrimaryID",
            "in": "query",
            "description": "Document Primary ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "results offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max records per request",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notes"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid querystring input"
          }
        },
        "security": [
          {
            "oAuthLending": [
              "write_loans",
              "read_loans"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Appraisal": {
        "type": "object",
        "properties": {
          "AppraisalAsIsValue": {
            "type": "number"
          },
          "AppraisalComments": {
            "type": "string"
          },
          "AppraisalDateObtained": {
            "type": "string"
          },
          "AppraisalEffectiveDate": {
            "type": "string"
          },
          "AppraisalExpectedDeliveryDate": {
            "type": "string"
          },
          "AppraisalExpectedDeliveryDelay": {
            "type": "integer"
          },
          "AppraisalInspectionDate": {
            "type": "string"
          },
          "AppraisalIsRushOrder": {
            "type": "integer"
          },
          "AppraisalJobTypes": {
            "type": "string"
          },
          "AppraisalMonthlyRent": {
            "type": "number"
          },
          "AppraisalNumber": {
            "type": "integer"
          },
          "AppraisalOrderDate": {
            "type": "string"
          },
          "AppraisalRehabbedValue": {
            "type": "number"
          },
          "AppraisalRequestedReturnDate": {
            "type": "string"
          },
          "AppraiserCompany": {
            "type": "string",
            "maxLength": 150
          },
          "AppraiserEmail": {
            "type": "string",
            "maxLength": 100
          },
          "AppraiserFirstName": {
            "type": "string",
            "maxLength": 100
          },
          "AppraiserID": {
            "type": "integer"
          },
          "AppraiserLastName": {
            "type": "string",
            "maxLength": 100
          },
          "AppraiserPhone": {
            "type": "string",
            "maxLength": 25
          },
          "AppraiserUpload": {
            "type": "string"
          },
          "FileID": {
            "type": "integer"
          },
          "MainSubjectProperty": {
            "type": "integer"
          },
          "PropertyID": {
            "type": "integer"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "CLType": {
            "type": "string"
          },
          "DisplayOrder": {
            "type": "integer"
          },
          "DocumentCategory": {
            "type": "string",
            "maxLength": 150
          },
          "DocumentExpirationDate": {
            "type": "string"
          },
          "DocumentPrimaryID": {
            "type": "integer"
          },
          "DocumentRecordDate": {
            "type": "string"
          },
          "DocumentStatus": {
            "type": "integer"
          },
          "DocumentType": {
            "type": "string"
          },
          "DocumentURL": {
            "type": "string",
            "maxLength": 150
          },
          "FileID": {
            "type": "integer"
          },
          "FileName": {
            "type": "string",
            "maxLength": 10000
          },
          "FileRecordDate": {
            "type": "string"
          },
          "FileType": {
            "type": "string",
            "maxLength": 10000
          },
          "Notes": {
            "type": "string",
            "maxLength": 10000
          },
          "OriginalFilePCID": {
            "type": "integer"
          },
          "PCID": {
            "type": "integer"
          },
          "PrimaryID": {
            "type": "integer"
          },
          "UploadDate": {
            "type": "string"
          },
          "UploadedByRole": {
            "type": "string",
            "maxLength": 30
          },
          "UploadedByUserID": {
            "type": "integer"
          }
        }
      },
      "Authenticate": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "example": "test"
          },
          "client_secret": {
            "type": "string",
            "example": "test"
          }
        }
      },
      "BackOfficeFileUser": {
        "type": "object",
        "properties": {
          "AssignedByID": {
            "type": "integer"
          },
          "AssignedByRole": {
            "type": "string"
          },
          "DateAssigned": {
            "type": "string"
          },
          "DateRemoved": {
            "type": "string"
          },
          "FileID": {
            "type": "integer"
          },
          "PrimaryID": {
            "type": "integer"
          },
          "RemovedByID": {
            "type": "integer"
          },
          "RemovedByRole": {
            "type": "string"
          },
          "UserRole": {
            "type": "string"
          }
        }
      },
      "BackOfficeUser": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "type": "integer"
          },
          "CanLogIn": {
            "type": "integer"
          },
          "CellNumber": {
            "type": "string",
            "maxLength": 20
          },
          "DirectPhoneNumber": {
            "type": "string",
            "maxLength": 20
          },
          "Email": {
            "type": "string",
            "maxLength": 75
          },
          "FaxNumber": {
            "type": "string",
            "maxLength": 20
          },
          "FirstName": {
            "type": "string",
            "maxLength": 60
          },
          "LastLoginDate": {
            "type": "string"
          },
          "LastName": {
            "type": "string",
            "maxLength": 60
          },
          "PrimaryID": {
            "type": "integer"
          },
          "ProcessorName": {
            "type": "string"
          },
          "Role": {
            "type": "string",
            "maxLength": 60
          },
          "TollFreeNumber": {
            "type": "string",
            "maxLength": 20
          }
        }
      },
      "BearerToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "example": "test"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "scope": {
            "type": "string",
            "example": "*"
          }
        }
      },
      "BorrowerUser": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "AffiliateCode": {
            "type": "string"
          },
          "AllowedToLogin": {
            "type": "string"
          },
          "BorrowerPhone": {
            "type": "string"
          },
          "BrokerID": {
            "type": "string"
          },
          "CellPhone": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "FileID": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastFileCreateDate": {
            "type": "string"
          },
          "LastLogin": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "NumberOfDeals": {
            "type": "string"
          },
          "PrimaryID": {
            "type": "string"
          },
          "ReferralCode": {
            "type": "string"
          },
          "RegisterDate": {
            "type": "string"
          },
          "SendMarketingEmail": {
            "type": "string"
          },
          "ServiceProvider": {
            "type": "string"
          },
          "Source": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          },
          "TotalLoanAmount": {
            "type": "string"
          },
          "Zip": {
            "type": "string"
          }
        }
      },
      "BranchUser": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "type": "integer"
          },
          "Address": {
            "type": "string",
            "maxLength": 100
          },
          "BranchName": {
            "type": "string",
            "maxLength": 50
          },
          "CellNumber": {
            "type": "string",
            "maxLength": 20
          },
          "City": {
            "type": "string",
            "maxLength": 50
          },
          "CompanyName": {
            "type": "string",
            "maxLength": 60
          },
          "County": {
            "type": "string",
            "maxLength": 60
          },
          "DirectPhone": {
            "type": "string",
            "maxLength": 20
          },
          "Email": {
            "type": "string",
            "maxLength": 75
          },
          "FaxNumber": {
            "type": "string",
            "maxLength": 20
          },
          "FirstName": {
            "type": "string",
            "maxLength": 50
          },
          "IsPrimary": {
            "type": "integer"
          },
          "LastName": {
            "type": "string",
            "maxLength": 50
          },
          "MailingAddress": {
            "type": "string",
            "maxLength": 75
          },
          "MailingCity": {
            "type": "string",
            "maxLength": 45
          },
          "MailingState": {
            "type": "string",
            "maxLength": 45
          },
          "MailingZipCode": {
            "type": "string",
            "maxLength": 15
          },
          "PrimaryID": {
            "type": "integer"
          },
          "ServiceProvider": {
            "type": "string",
            "maxLength": 20
          },
          "State": {
            "type": "string",
            "maxLength": 10
          },
          "TimeZone": {
            "type": "string",
            "maxLength": 10
          },
          "TollFreeMainNumber": {
            "type": "string",
            "maxLength": 20
          },
          "Website": {
            "type": "string",
            "maxLength": 250
          },
          "ZipCode": {
            "type": "string",
            "maxLength": 10
          }
        }
      },
      "BrokerBranch": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "type": "integer"
          },
          "ContactDate": {
            "type": "string"
          },
          "FirstName": {
            "type": "string",
            "maxLength": 50
          },
          "LastName": {
            "type": "string",
            "maxLength": 50
          },
          "LoanOfficerID": {
            "type": "integer"
          },
          "PCID": {
            "type": "integer"
          },
          "PrimaryID": {
            "type": "integer"
          }
        }
      },
      "BrokerUser": {
        "type": "object",
        "properties": {
          "Address": {
            "type": "string",
            "maxLength": 150
          },
          "AllowedToLogin": {
            "type": "integer"
          },
          "BrokerNotes": {
            "type": "string"
          },
          "BrokerPartnerType": {
            "type": "string",
            "maxLength": 50
          },
          "CellNumber": {
            "type": "string",
            "maxLength": 20
          },
          "City": {
            "type": "string",
            "maxLength": 20
          },
          "Company": {
            "type": "string",
            "maxLength": 60
          },
          "EINNUmber": {
            "type": "string",
            "maxLength": 25
          },
          "Email": {
            "type": "string",
            "maxLength": 75
          },
          "ExpirationDate": {
            "type": "string"
          },
          "FaxNumber": {
            "type": "string",
            "maxLength": 20
          },
          "FirstName": {
            "type": "string",
            "maxLength": 75
          },
          "LastLoginDate": {
            "type": "string"
          },
          "LastName": {
            "type": "string",
            "maxLength": 15
          },
          "LicenseNumber": {
            "type": "string",
            "maxLength": 25
          },
          "NMLSLicenseNumber": {
            "type": "string",
            "maxLength": 30
          },
          "PCID": {
            "type": "integer"
          },
          "PhoneNumber": {
            "type": "string",
            "maxLength": 20
          },
          "PreferredCommunication": {
            "type": "string",
            "maxLength": 100
          },
          "PrimaryID": {
            "type": "integer"
          },
          "ServiceProvider": {
            "type": "string",
            "maxLength": 20
          },
          "State": {
            "type": "string",
            "maxLength": 20
          },
          "Status": {
            "type": "string"
          },
          "StatusCode": {
            "type": "integer"
          },
          "StatusDate": {
            "type": "string"
          },
          "SuiteNumber": {
            "type": "string",
            "maxLength": 50
          },
          "TimeZone": {
            "type": "string",
            "maxLength": 10
          },
          "UserName": {
            "type": "string",
            "maxLength": 20
          },
          "Website": {
            "type": "string",
            "maxLength": 50
          },
          "ZipCode": {
            "type": "string",
            "maxLength": 10
          },
          "Branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrokerBranch"
            }
          }
        }
      },
      "CompensatingFactors": {
        "type": "object",
        "properties": {
          "BorrowerREOExperience": {
            "type": "integer"
          },
          "LowLTV": {
            "type": "integer"
          },
          "CreditFICO": {
            "type": "integer"
          },
          "PerformingRepeatBorrower": {
            "type": "integer"
          },
          "Reserves": {
            "type": "integer"
          },
          "InterestHoldback": {
            "type": "integer"
          },
          "PositivePortfolioCashFlow": {
            "type": "integer"
          },
          "OwnsPrimaryResidence": {
            "type": "integer"
          },
          "DSCR": {
            "type": "integer"
          },
          "CollateralLocation": {
            "type": "integer"
          }
        }
      },
      "CreditDecision": {
        "type": "object",
        "properties": {
          "CreditDecision": {
            "type": "string",
            "maxLength": 1000
          },
          "CreditDecisionBy": {
            "type": "integer"
          },
          "CreditDecisionByEmail": {
            "type": "string",
            "maxLength": 75
          },
          "CreditDecisionByFirstName": {
            "type": "string",
            "maxLength": 60
          },
          "CreditDecisionByLastName": {
            "type": "string",
            "maxLength": 60
          },
          "CreditDecisionCode": {
            "type": "integer"
          },
          "CreditDecisionDate": {
            "type": "string"
          },
          "CreditDecisionNotes": {
            "type": "string"
          },
          "FileID": {
            "type": "integer"
          },
          "PrimaryID": {
            "type": "integer"
          }
        }
      },
      "CreditDecisionDealDesk": {
        "type": "object",
        "properties": {
          "ActionTaken": {
            "type": "string"
          },
          "ActionTakenBy": {
            "type": "integer"
          },
          "ActionTakenByEmail": {
            "type": "string",
            "maxLength": 75
          },
          "ActionTakenByFirstName": {
            "type": "string",
            "maxLength": 60
          },
          "ActionTakenByLastName": {
            "type": "string",
            "maxLength": 60
          },
          "DateActionTaken": {
            "type": "string"
          },
          "DealDeskReason": {
            "type": "string",
            "maxLength": 1000
          },
          "DealDeskReasonCode": {
            "type": "integer"
          },
          "DealDeskReasonOther": {
            "type": "string"
          },
          "FileID": {
            "type": "integer"
          },
          "PrimaryID": {
            "type": "integer"
          }
        }
      },
      "CreditDecisionExceptions": {
        "type": "object",
        "properties": {
          "ActualGuideline": {
            "type": "string"
          },
          "BorrowerREOExperience": {
            "type": "string",
            "maxLength": 8
          },
          "CollateralLocation": {
            "type": "string",
            "maxLength": 8
          },
          "CreditFICO": {
            "type": "string",
            "maxLength": 8
          },
          "DSCR": {
            "type": "string",
            "maxLength": 8
          },
          "ExceptionApprovedBy": {
            "type": "integer"
          },
          "ExceptionApprovedByEmail": {
            "type": "string",
            "maxLength": 75
          },
          "ExceptionApprovedByFirstName": {
            "type": "string",
            "maxLength": 60
          },
          "ExceptionApprovedByLastName": {
            "type": "string",
            "maxLength": 60
          },
          "ExceptionCategory": {
            "type": "string",
            "maxLength": 1000
          },
          "ExceptionCategoryCode": {
            "type": "integer"
          },
          "ExceptionDate": {
            "type": "string"
          },
          "ExceptionDescription": {
            "type": "string"
          },
          "ExceptionNotes": {
            "type": "string"
          },
          "ExceptionSubCategory": {
            "type": "string",
            "maxLength": 1000
          },
          "ExceptionSubCategoryCode": {
            "type": "integer"
          },
          "FileID": {
            "type": "integer"
          },
          "InterestHoldback": {
            "type": "string",
            "maxLength": 8
          },
          "LowLTV": {
            "type": "string",
            "maxLength": 8
          },
          "OwnsPrimaryResidence": {
            "type": "string",
            "maxLength": 8
          },
          "PerformingRepeatBorrower": {
            "type": "string",
            "maxLength": 8
          },
          "PositivePortfolioCashFlow": {
            "type": "string",
            "maxLength": 8
          },
          "PrimaryID": {
            "type": "integer"
          },
          "Reserves": {
            "type": "string",
            "maxLength": 8
          },
          "CompensatingFactors": {
            "$ref": "#/components/schemas/CompensatingFactors"
          }
        }
      },
      "DocumentNote": {
        "type": "object",
        "properties": {
          "CLType": {
            "type": "string"
          },
          "CreatedByEmail": {
            "type": "string"
          },
          "CreatedByFirstName": {
            "type": "string"
          },
          "CreatedByID": {
            "type": "integer"
          },
          "CreatedByLastName": {
            "type": "string"
          },
          "CreatedByType": {
            "type": "string"
          },
          "DocumentPrimaryID": {
            "type": "integer"
          },
          "FileID": {
            "type": "integer"
          },
          "ModuleDescription": {
            "type": "string"
          },
          "ModuleType": {
            "type": "string",
            "maxLength": 10
          },
          "NoteType": {
            "type": "string"
          },
          "NoteTypeCode": {
            "type": "string"
          },
          "Notes": {
            "type": "string"
          },
          "PrimaryID": {
            "type": "integer"
          },
          "RecorDate": {
            "type": "string"
          },
          "SentTo": {
            "type": "string"
          }
        }
      },
      "Download": {
        "type": "object",
        "properties": {
          "fn": {
            "type": "string"
[...]
